<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestMAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TestMAP.Properties.Settings>
            <setting name="SettingUdpAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingJoyAutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingJoyStringConnect" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingUdpPort" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="SettingAddressMud" serializeAs="String">
                <value>127.000.000.001:50001</value>
            </setting>
            <setting name="SettingAddressNav" serializeAs="String">
                <value>127.000.000.001:50002</value>
            </setting>
            <setting name="SettingAddressPwm1" serializeAs="String">
                <value>192.168.127.254:04001</value>
            </setting>
            <setting name="SettingAddressPwm2" serializeAs="String">
                <value>192.168.127.254:04002</value>
            </setting>
            <setting name="SettingAddressPwm3" serializeAs="String">
                <value>192.168.127.254:04003</value>
            </setting>
            <setting name="SettingAddressEngine" serializeAs="String">
                <value>192.168.127.254:04004</value>
            </setting>
        </TestMAP.Properties.Settings>
    </userSettings>
</configuration>